[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"e1839a8" = {path = ".", editable = true}

[dev-packages]
mypy = "*"
"flake8" = "*"
bumpversion = "*"
mkdocs = "*"
twine = "*"
pydocstyle = "*"
tox = "*"
coverage = "*"
pytest = "*"
ipython = "*"
"e1839a8" = {path = ".", editable = true}
mkdocs-material = "*"
ipdb = "*"
better-exceptions = "*"

[requires]
python_version = "3.6"
