appnope==0.1.0
args==0.1.0
bumpversion==0.5.3
certifi==2017.11.5
chardet==3.0.4
click==6.7
clint==0.5.1
colorama==0.3.9
cursor==1.1.0
decorator==4.1.2
docopt==0.6.2
enum34==1.1.6
et-xmlfile==1.0.1
flake8==3.4.1
flake8-docstrings==1.1.0
flake8-polyfill==1.0.1
halo==0.0.7
hexpy==0.1.0
idna==2.6
ipython==6.2.1
ipython-genutils==0.2.0
jdcal==1.3
jedi==0.11.0
Jinja2==2.9.6
livereload==2.5.1
log-symbols==0.0.11
Markdown==2.6.9
MarkupSafe==1.0
mccabe==0.6.1
mkdocs==0.16.3
numpy==1.13.3
openpyxl==2.4.8
pandas==0.20.3
parso==0.1.0
pendulum==1.3.2
pexpect==4.2.1
pickleshare==0.7.4
pipreqs==0.4.9
pluggy==0.5.2
prompt-toolkit==1.0.15
ptyprocess==0.5.2
py==1.4.34
pycodestyle==2.3.1
pydocstyle==2.1.1
pyflakes==1.5.0
Pygments==2.2.0
pytest==3.2.3
python-dateutil==2.6.1
pytz==2017.2
pytzdata==2017.3.1
PyYAML==3.12
ratelimiter==1.2.0
requests==2.18.4
simplegeneric==0.8.1
six==1.11.0
snowballstemmer==1.2.1
spinners==0.0.19
termcolor==1.1.0
tornado==4.5.2
tox==2.9.1
traitlets==4.3.2
tzlocal==1.5.1
urllib3==1.22
virtualenv==15.1.0
wcwidth==0.1.7
yapf==0.18.0
yarg==0.1.9
